<app-header></app-header>
<div class="flex flex-col mx-30 gap-5 p-5">
  <div class="flex flex-row gap-10">
    <img
      width="290"
      src="https://i.pinimg.com/736x/5b/41/56/5b4156dd4e0d77b07173a0b9216240fd.jpg"
      alt="the odyssey"
    />
    <div class="flex flex-col text-amber-50 mt-2 gap-5">
      <h1 class="text-3xl font-bold">Odysseus (โอดิสซีอุส)</h1>
      <h1 class="bg-gray-300 h-0.5"></h1>
      <h1 class="text-2xl font-semibold">Character (ประวัติและบทบาท)</h1>
      <h1 class="text-md">
        โอดิสซีอุสคือกษัตริย์แห่งเกาะอิทาคา (Ithaca) เป็นบุตรชายของลาเอร์ตัส (Laertes) และแอนติเคลีย
        (Anticlea) เขาคือตัวละครเอกและศูนย์กลางของมหากาพย์กรีกโบราณเรื่อง โอดิสซีย์ (The Odyssey)
        ของโฮเมอร์ และยังมีบทบาทสำคัญอย่างมากในมหากาพย์ อีเลียด (The Iliad)
        ในฐานะวีรบุรุษผู้คิดค้นกลศึก "ม้าไม้เมืองทรอย" โอดิสซีอุสต้องใช้เวลายาวนานถึง 10
        ปีในการทำสงครามที่เมืองทรอย และต้องเผชิญกับอุปสรรคจากเหล่าทวยเทพและสัตว์ประหลาดอีกถึง 10
        ปีเต็มในการเดินทางรอนแรมกลับบ้าน เพื่อไปหาเพเนโลพี (Penelope) ภรรยาของเขา และเทเลมาคัส
        (Telemachus) บุตรชายเพียงคนเดียว
      </h1>
    </div>
  </div>
  <div class="flex flex-row justify-center gap-3">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/Osim0hE0Tgo?si=Gk6s1r22z7F3mqHO"
      title="YouTube video player"
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <div class="w-1/2 flex flex-col text-amber-50 gap-3">
      <h1>Personality (บุคลิกภาพ)</h1>
      <h1 class="text-md text-amber-50">
        แดเนอริสมักถูกบรรยายว่ามีความงดงามอย่างหาตัวจับยาก เธอมีผมยาวสีเงินอมทองอ่อนและมีดวงตาสีม่วง
        รูปร่างของเธอบอบบางและมีผิวซีด แม้จะสูงกว่าบรรพบุรุษสตรีบางคนของเธอก็ตาม
        กิตติศัพท์ความงามของแดเนอริสนั้นมีมากมาย และตลอดทั้งเรื่องราวในนิยาย
        เธอต้องเผชิญกับผู้ที่มาขอแต่งงานนับไม่ถ้วน
        ซึ่งบางครั้งก็เพื่อหวังจะครอบครองมังกรทั้งสามของเธอ เธอสามารถใช้ภาษากลางของเวสเทอรอส (Common
        Tongue), โดธราคี (Dothraki), วาลิเรียนชั้นสูง (High Valyrian) และวาลิเรียนผสม (Bastard
        Valyrian) ได้อย่างคล่องแคล่ว โดยเธอจะพูดด้วยสำเนียงไทโรชิ ตลอดช่วงนิยายสามเล่มแรก
        เธอพัฒนาจนสามารถใช้ภาษาโดธราคีและกิสคาริ (Ghiscari - ภาษาที่ใช้ในเมืองทาสแห่งเอสซอส)
        ได้อย่างเชี่ยวชาญ
      </h1>
    </div>
  </div>
  <div class="flex flex-col border-t border-white gap-5">
    <div>
      <p class="bg-gray-300 h-0.4"></p>
    </div>
    <div class="flex flex-col gap-2">
      <p>Comment</p>
      <textarea
        class="w-full min-h-[120px] bg-transparent border border-zinc-400 rounded-md p-4 text-white placeholder-gray-300 focus:outline-none focus:border-zinc-200 resize-y"
        placeholder="What do you feel about this?"
      >
      </textarea>
    </div>
    <div class="flex flex-row gap-3 justify-between">
      <div class="flex gap-1 text-slate-500 cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current hover:text-slate-400" viewBox="0 0 24 24">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current hover:text-slate-400" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current hover:text-slate-400" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current hover:text-slate-400" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
       <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 fill-current hover:text-slate-400" viewBox="0 0 24 24"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" /></svg>
      </div>
      <button class="bg-zinc-700 hover:bg-zinc-600 text-white px-6 py-2 rounded-md font-medium transition-colors">
      Send
      </button>
    </div>
  </div>
</div>